.logo {
    height: 75px;
    width: 75px;
    background-color: darkgray;
    border-radius: 50%;
    background-image: url(https://avatars.githubusercontent.com/u/109473655?s=400&u=8e12ba95caf491d5ba4051e9436c78cd56de8528&v=4);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content {
    padding: 20px;
    min-height: 600px;
}