
nav {
  list-style-type: none;
  margin: 40px 0;
  padding: 40px 0;
  overflow: hidden;
  background-color: #333333;
}
.navbar img{
  height: 50px;
  float: left;
  margin-left: 20px;
  margin-right: 70px;
}
nav ul {
  display: flex;
  justify-content: right;

}

nav ul li {
  float: left;
  margin-right: 30px;
  background-color: #f4f4f4 ; 
  background-size: 50;
  
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #f4f4f4;
}